{#
/**
 * @file
 * Contains the text of the adelanto explanation page
 */
#}

<div class='adelanto-description'>
{% trans %}
    <p>The page contain information about adelanto users.</p>
    <p>list of users</p>
{% endtrans %}
</div>
