{#
/**
 * @file
 * Contains the text of the reporteadelanto explanation page
 */
#}

<div class='reporteadelanto-description'>
{% trans %}
    <p>The page contain information about reporteadelanto users.</p>
    <p>list of users</p>
{% endtrans %}
</div>
