{#
/**
 * @file
 * Contains the text of the linxeseguridadsocial explanation page
 */
#}

<div class='linxeseguridadsocial-description'>
{% trans %}
    <p>The page contain information about linxeseguridadsocial users.</p>
    <p>list of users</p>
{% endtrans %}
</div>
