                        <div class="txt-adelanto">
                                <h6>OBTÉN TU ADELANTO DE SALARIO</h6>
                            </div>
                            
                            <div class="form-element d-flex flex-column pt-md-3 pt-2 salario bb margin">
                                <h6>¿CUÁL ES TU SALARIO APROXIMADO?</h6>
                                 <div class="form-item d-flex">
                                    <button type="button" id="btnMenos_an" class="btnMenos">
                                        <i class="boto-icon">&#xe801;</i>
                                        <div class="rangos" id="r_min_cantidad_an">$ {{valor_min_an}}</div>
                                    </button>
                                    <div class="valor">
                                        <span class="unidad mr-2">$</span>
                                        <span class="num" id="cantidadVal_an"></span>
                                        <input type="hidden" id="cantidad_an" name="cantidad_an" value="{{valor_med_default_an}}" />
                                    </div>
                                    <button type="button" id="btnMas_an" class="btnMas">
                                        <i class="boto-icon">&#xe800;</i>
                                        <div class="rangos" id="r_max_cantidad_an">$ {{valor_max_an}}<div>
                                    </button>
                                </div>
                                <input type="number" name="cantidad_an" id="cantidad_an" class="d-none" />
                            </div>

                            <div class="te-adelantamos">
                                <h6>TE ADELANTAMOS</h6>
                                <p class="d-adelanto">$ <span id="valor_an">{{valor_adelanto_default_an}}</span></p>
                                <p class="txt-plazo">PLAZO MÁXIMO 30 DÍAS</p>
                            </div>

                            <a href="/registerform" class="btn1 w-100 mt-auto">¡SOLICÍTALO AQUÍ!</a>
                        </div>


                