@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 70px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 99;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


[dir='rtl'] .slick-prev {
    right: 0;
    left: auto;
}

.slick-prev:before {
    background-image: url(../images/prev.png);
}

[dir='rtl'] .slick-prev:before {
    content: '<';
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 0;
}

.slick-next:before {
    background-image: url(../images/next.png);
}

.slick-next:before, .slick-prev:before {
    content: '';
    background-size: 100%;
    background-position: center;
    width: 24px;
    height: 75px;
    display: inline-block;
    background-repeat: no-repeat;
}

[dir='rtl'] .slick-next:before {
    content: '>';
}

.carrusel-servicios .slick-next:before,
.carrusel-servicios .slick-prev:before,
.slide-oficinas .slick-next:before,
.slide-oficinas .slick-prev:before,
.slide-ofertas .slick-next:before,
.slide-ofertas .slick-prev:before {
    background-color: #f1f1f1;
}

.carrusel-servicios .slick-next:before,
.slide-oficinas .slick-next:before,
.slide-ofertas .slick-next:before {
    background-image: url(../images/next-nuevo-verde.png);
}

.carrusel-servicios .slick-prev:before,
.slide-oficinas .slick-prev:before,
.slide-ofertas .slick-prev:before {
    background-image: url(../images/prev-nuevo-verde.png);
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: #437A84;
    border-radius: 100%;
    padding: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots .slick-active button{
    background-color: #A71229;
}

