        <div class="cont-respuesta">
            <div class="respuesta" id="newregistro">
            	<img src="{{paththeme}}/images/forms/money@3x.png" alt="Bienvenido a LINXE" class="img-fluid" style="width:100%"/>
    			<h2 class="text1">{{titlemsg}}</h2>
                <div class="mensaje">
                {{message}}
                </div>
                <a href="/" class="btn1 small">{{labelbutton}}</a>
            </div>  
        </div>