{#
/**
 * @file
 * Contains the text of the reportehistorico explanation page
 */
#}

<div class='reportehistorico-description'>
{% trans %}
    <p>The page contain information about reportehistorico users.</p>
    <p>list of users</p>
{% endtrans %}
</div>
